OclaLIZ1.Actinomarinales1	OclaLIZ1.Actinomarinales1	0	Actinomarinales1
OclaLIZ2.Actinomarinales1	OclaLIZ1.Actinomarinales1	0.0232328655	Actinomarinales1
Osp5HER1.Actinomarinales1	OclaLIZ1.Actinomarinales1	0.0232312085	Actinomarinales1
Osp3HER1.Actinomarinales1	OclaLIZ1.Actinomarinales1	0.0194309748	Actinomarinales1
OclaLIZ1.Actinomarinales1	OclaLIZ2.Actinomarinales1	0.0232328655	Actinomarinales1
OclaLIZ2.Actinomarinales1	OclaLIZ2.Actinomarinales1	0	Actinomarinales1
Osp5HER1.Actinomarinales1	OclaLIZ2.Actinomarinales1	0.0050905866	Actinomarinales1
Osp3HER1.Actinomarinales1	OclaLIZ2.Actinomarinales1	0.0038069425	Actinomarinales1
OclaLIZ1.Actinomarinales1	Osp5HER1.Actinomarinales1	0.0232312085	Actinomarinales1
OclaLIZ2.Actinomarinales1	Osp5HER1.Actinomarinales1	0.0050905866	Actinomarinales1
Osp5HER1.Actinomarinales1	Osp5HER1.Actinomarinales1	0	Actinomarinales1
Osp3HER1.Actinomarinales1	Osp5HER1.Actinomarinales1	0.0038052855	Actinomarinales1
OclaLIZ1.Actinomarinales1	Osp3HER1.Actinomarinales1	0.0194309748	Actinomarinales1
OclaLIZ2.Actinomarinales1	Osp3HER1.Actinomarinales1	0.0038069425	Actinomarinales1
Osp5HER1.Actinomarinales1	Osp3HER1.Actinomarinales1	0.0038052855	Actinomarinales1
Osp3HER1.Actinomarinales1	Osp3HER1.Actinomarinales1	0	Actinomarinales1
