4148_4289_BB.Marinimicrobia1	4148_4289_BB.Marinimicrobia1	0	Marinimicrobia1
Osp5HER1.Marinimicrobia1	4148_4289_BB.Marinimicrobia1	0.0044428905	Marinimicrobia1
Osp3HER1.Marinimicrobia1	4148_4289_BB.Marinimicrobia1	0.0206241423	Marinimicrobia1
4148_4289_BB.Marinimicrobia1	Osp5HER1.Marinimicrobia1	0.0044428905	Marinimicrobia1
Osp5HER1.Marinimicrobia1	Osp5HER1.Marinimicrobia1	0	Marinimicrobia1
Osp3HER1.Marinimicrobia1	Osp5HER1.Marinimicrobia1	0.0226547834	Marinimicrobia1
4148_4289_BB.Marinimicrobia1	Osp3HER1.Marinimicrobia1	0.0206241423	Marinimicrobia1
Osp5HER1.Marinimicrobia1	Osp3HER1.Marinimicrobia1	0.0226547834	Marinimicrobia1
Osp3HER1.Marinimicrobia1	Osp3HER1.Marinimicrobia1	0	Marinimicrobia1
